<aurora-carousel>

    <ng-container *carousel_item>
        <span class="red_orange">

        </span>
    </ng-container>
    <ng-container *carousel_item>
        <span class="medium_sea_green">

        </span>
    </ng-container>
    <ng-container *carousel_item>
        <span class="summer_sky">

        </span>
    </ng-container>
    <ng-container *carousel_item>
        <span class="moon_yellow">

        </span>
    </ng-container>
    <ng-container *carousel_item>
        <span class="mountain_meadow">

        </span>
    </ng-container>

</aurora-carousel>