<aurora-radio
        [options]="[{label: 1, value: 1},{label: 2, value: 2}]"

></aurora-radio>

<ng-template
        let-context="context"
        #radio_template
>
    <div
            class="radio_container"
            (click)="!context.is_selected && context.change(context.option?.value)"
    >
        <div
                class="radio_button"

                [class.active]="context.is_selected"
        ></div>
        <!--<label>{{context.option?.label}}</label>-->
        <h2>sddfsd</h2>
    </div>
</ng-template>