
<div class="container">
    <!--<aurora-modal-->
    <!--[visible]="visible"-->
    <!--(close)="visible = false"-->
    <!--&gt;</aurora-modal>-->
    <!--<aurora-button (click)="onClick()">-->
    <!--This is a button-->
    <!--</aurora-button>-->


    <!--<aurora-form-->
            <!--[config]="config"-->
            <!--(submit)="onSubmit($event)"-->
    <!--&gt;-->

        <!--<aurora-button-->
                <!--type="primary"-->
        <!--&gt;-->
            <!--Submit-->
        <!--</aurora-button>-->

    <!--</aurora-form>-->

    <aurora-carousel></aurora-carousel>

</div>