aurora-form {
    background-color: red;
    form-template {
        background-color: blue;

    }
    form-group {
        background-color: red;
        //grid-template-areas: "label" "field";
        //grid-template-columns: 1fr;
        //grid-template-rows: 1fr;
    }
}
