<aurora-form
        [config]="form_config"
        (submit)="onSubmit($event)"
>
    <ng-container *ngFor="let slide of carousel_config  | keyvalue; let i = index">
        <ng-container *ngIf="i === index">
            <ng-container *ngFor="let form_group of slide.value">
                <form-group
                        [class]="slide.key !== 'slide_0' && 'question'"
                        [name]="form_group.name"
                        (change)="onSelectAnswer($event)"
                >
                </form-group>
            </ng-container>
        </ng-container>
    </ng-container>


    <div class="navigate_button">
        <aurora-button (click)="prevSlide()">
            Previous
        </aurora-button>

        <aurora-button (click)="nextSlide()">
            Next
        </aurora-button>
    </div>


    <aurora-button
            submit_form
    >
        Create New Project
    </aurora-button>
</aurora-form>


<ng-template
        let-context="context"
        #select_image
>
    <div
            class="radio_container"
            (click)="!context.is_selected && context.change(context.option?.value)"
    >
        <div
                class="radio_button"

                [class.active]="context.is_selected"
        ></div>
        <img class="img-responsive" [src]="context.option?.image" alt="">
        <label>{{context.option?.label}}</label>
    </div>
</ng-template>