<aurora-modal
        [visible]="visible"
        (close)="resetQuiz(); close.emit()"
        (onOk)="nextQuiz()"
        (onCancel)="previousQuiz()"
>
    <aurora-form
            [config]="form_config"
            [template_config]="form_template_config"
    >
        <ng-container *ngFor="let name of quiz_formatted_data; let i = index">
            <form-template
                    [name]="name"
                    [class]="i !== 0 && 'question'"
                    *ngIf="index === i"
            >
            </form-template>

        </ng-container>

    </aurora-form>


</aurora-modal>