:host {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    aurora-form {
        width: 50%;

        ::ng-deep form-group.question {
            grid-template-areas: "label" "field" "feedback";
            grid-template-rows: .1fr 4fr .1fr;
            grid-template-columns: 1fr;
            form-field {
                margin: 2rem 0 0 2rem;
            }
            form-feedback {
                font-size: 2rem;
                margin-left: 5rem;
            }
            aurora-radio {
                .radio_container {
                    img {
                        margin: 0 5rem;
                        height: 80%;
                        width: 30%;
                    }
                }

            }
        }

        .navigate_button {
            display: flex;
            justify-content: space-around;
            aurora-button {
                align-self: center;
                display: inline-flex;

                width: 20rem;
            }
        }

    }

    aurora-carousel {
        //height: 55rem;
    }

    aurora-button {
        margin: 3rem auto;
        width: 30rem;
    }
}

