<div class="logo">
    <img class="img-responsive" src="assets/images/logo.png" alt="">
</div>

<div class="site-nav" *ngIf="authSvs.isAuthenticated()" >
    <!--<a routerLink="/about">About</a>-->
    <!--<a routerLink="/auth/login" *ngIf="!authSvs.isAuthenticated()">Login</a>-->
    <!--<a routerLink="/auth/register" *ngIf="!authSvs.isAuthenticated()">Register</a>-->
    <!--<a routerLink="/auth/change-password" *ngIf="authSvs.isAuthenticated()">Change Password</a>-->
    <!--<a routerLink="/profile" *ngIf="authSvs.isAuthenticated()">Profile</a>-->
    <!--<a routerLink="/invoice" *ngIf="authSvs.isAuthenticated()">Invoice</a>-->
    <!--<a routerLink="/create-project">Create project</a>-->
</div>

<div class="user_avatar">
    <img src="assets/images/user_avatar_placeholder.png" alt="" class="img-responsive">
</div>

<div class="cart_icon">
    <img src="assets/icons/shopping_cart.png" alt="" class="img-responsive">
</div>