
.mask {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.65);
    height: 100%;
    z-index: 99999999999999999999;
}

.content {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #fff;
    border: 0;
    border-radius: 4px;
    background-clip: padding-box;
    -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    width: 52rem;
    z-index: 999999999999999999999;
    .body {
        padding: 2.4rem;
        font-size: 14px;
        line-height: 1.5;
        word-wrap: break-word;
        flex: 1;
    }

    #comment_input {
        display: flex;
        margin-top: 4rem;
        aurora-button {
            height: 100%;
            margin: 0;
        }
    }
}