@import "normalize";
@import "grid";
@import "variables";
@import "font";

html {
    font-size: 62.5%;
}

body {
    background-color: white;
    color: #555;
    font-family: "Wacca",  Arial, sans-serif
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;

    &:hover {
        cursor: pointer;
    }
}

h1, h2, h3, h4, p {

    padding: 0;
    margin: 0;
}

h1 {
    color: #333;
    font-size: 2.8em;
    font-weight: 500;
    font-family: "Wacca",  Arial, sans-serif;
    text-transform: uppercase;
}

p {
    color: #737373;
    font-size: 1.8rem;
    text-align: center;
}