@-ms-viewport {
  width: device-width;
}

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

* {
  box-sizing: inherit;
  &::before, &::after {
    box-sizing: inherit
  }
}

.container {
  display: grid;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

.container-fluid {
  display: grid;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

