<div class="left_panel">
    <img src="assets/images/auth/living-room.png" alt="" class="img-responsive">
</div>
<div class="right_panel">
    <h1>Whoops!</h1>
    <h2>Let’s admit it, it’s hard to remember all your passwords.</h2>
    <aurora-form
            media_type="json"
            [config]="configs"
            [default_template]="true"
            (submit)="onLogin($event)"
    >
    </aurora-form>
   <aurora-button class="submit">
       Reset Your Password
   </aurora-button>

    <div class="footer">
        <aurora-button>Sign In</aurora-button>
        <aurora-button>Sign Up</aurora-button>
    </div>
</div>