:host {
    background-color: #EEEEEE;
    display: flex;
    justify-content: center;
    padding-top: 7.7rem;

    .left_panel {
        border-radius: .4rem;
        margin: 4.27rem 0 0 0;
        position: relative;
        width: 33.4rem;
        height: 46.8rem;

        img {
            position: absolute;
            top: 0;
            left: 2.6rem;
            bottom: 0;
            right: 0;
        }
    }

    .right_panel {
        background-color: white;
        border-radius: .4rem;
        padding: 4rem 6.5rem 3.7rem 9.1rem;
        width: 56rem;
        height: 55rem;

        h2 {
            margin: 1.3rem 0 3.1rem 0;
        }

        aurora-form {
            ::ng-deep form-group {
                display: flex;
                flex-direction: column;
                position: relative;

                form-label {
                    background-color: white;
                    padding: .1rem .7rem .3rem .3rem;
                    position: absolute;
                    top: -.7rem;
                    left: 1.7rem;
                    z-index: 200;
                }

                form-field {
                    height: 5rem;
                    max-height: 5rem;

                    aurora-input {
                        border: 1px solid rgba(13, 29, 50, .5);

                        input {
                            background-color: white;

                            &:-webkit-autofill {
                                background-color: white !important;
                            }
                        }
                    }
                }
            }
        }
    }
}