.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 62.5%;
    width: 100%
    //margin: 0 auto;
}

p {
    font-size: 12rem;
    padding: 2rem 0;
}

button {
    font-size: 2rem;
}