@import "global";

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 62.5%;
    width: 100%
    //margin: 0 auto;
}

aurora-form {
    width: 60%;
    label {
        //color: red;
    }
}

aurora-switch {
    margin: 40rem 0;
}