@font-face {
    font-family: 'Sumac Oblique';
    src: url('/assets/fonts/Sumac Typeface/src/Sumac Oblique.otf') format('truetype');
}

@font-face {
    font-family: 'Sumac Regular';
    src: url('/assets/fonts/Sumac Typeface/src/Sumac Regular.otf') format('truetype');
}

@font-face {
    font-family: 'Sumac Rocky';
    src: url('/assets/fonts/Sumac Typeface/src/Sumac Rocky.otf') format('truetype');
}

@font-face {
    font-family: 'Sumac Timber';
    src: url('/assets/fonts/Sumac Typeface/src/Sumac Timber.otf') format('truetype');
}
